services:
  db:
    image: postgres:18
    env_file: '.env'
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 10s
      retries: 20
    volumes:
      - ${PWD}/volumes/postgres:/var/lib/postgresql/18/docker

  api:
    image: api:latest
    env_file: '.env'
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    command: ["python", "-m", "backend.api.main"]

  # bot:
    # image: bot:latest
    # env_file: '.env'
    