services:
  db:
    image: postgres:18
    env_file: '.env'
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 10s
      retries: 20
    volumes:
      - ${PWD}/volumes/postgres:/var/lib/postgresql/18/docker