services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    networks:
      - def_net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/traefik.yml:ro
      - ./traefik/certs:/certs:ro
    command:
      - "--configFile=/traefik.yml"

  db:
    image: postgres:latest
    env_file: '.env'
    ports:
      - '5431:5432'
    networks:
      - def_net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - ${PWD}/volumes/postgres:/var/lib/postgresql/18/docker

  api:
    image: api:latest
    build: 
      context: .
      dockerfile: Dockerfile.api
    # ports: - "8000:8000"  <-- Лучше убрать для безопасности, Traefik работает внутри сети
    env_file: '.env'
    networks:
      - def_net
    depends_on:
      db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      # Правильно: Host(домен) и PathPrefix(/путь)
      - "traefik.http.routers.api.rule=Host(`l-dev.tech`) && PathPrefix(`/api`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.priority=20"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
      # Добавляем StripPrefix, чтобы бэк не видел /api
      - "traefik.http.middlewares.api-strip.stripprefix.prefixes=/api"
      - "traefik.http.routers.api.middlewares=api-strip"

  frontend:
    build: ./frontend
    networks:
      - def_net
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # Правильно: Host(домен)
      - "traefik.http.routers.frontend.rule=Host(`l-dev.tech`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.priority=10"
      - "traefik.http.services.frontend.loadbalancer.server.port=8080"
  
  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    container_name: telegram_bot
    restart: unless-stopped
    env_file:
      - .env


networks:
  def_net:
    driver: bridge
